{% extends 'ui_interface/index.htm' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<meta name="robots" content="noindex, nofollow"/>
<div class="ac-gn-blur"></div>
<div id="ac-gn-curtain" class="ac-gn-curtain"></div>
<div id="ac-gn-placeholder" class="ac-nav-placeholder"></div>
<script type="text/javascript" src="{% static '/ac/globalnav/7/ru_RU/scripts/ac-globalnav.built.js' %}"></script>
<link rel="stylesheet" href="{% static 'list_group/fonts' %}">
<link rel="stylesheet" href="{% static 'list_group/main.built.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'list_group/overview.built.css' %}" type="text/css">
<script src="{% static 'list_group/main.built.js' %}" type="text/javascript" charset="utf-8"></script>
<main id="main" class="main" role="main" data-page-type="overview">
    {% if not cart.products.count %}
    {% include 'ui_interface/universal_templates/empty_cart.html' %}
    {% else %}
    <section class="section-plans theme-light" data-anim-scroll-group="Section - Plans"
             data-component-list="LocalNavThemeSwitcher">
        <div class="section-content">
            <div class="plans-container columns-2">
                <div class="copy-container">
                    <h2 class="typography-section-headline plans-headline large-10 medium-12 small-12 center">
                        Избранное</h2>
                    <p class="typography-eyebrow large-7 medium-9 small-12 center">Избранное - это ваш список
                        отслеживаемых групп. Пользоваться
                        очень легко, добавляйте новые или редактируйте уже имеющиеся группы.</p>
                    <div class="plans-tiles icloud-plus">
                        {% for item in cart.products.all %}
                        {% if item.product.active != 0 %}
                        <div class="plan-tile plan-individual gallery-item fade-in animate will-change"
                             data-component-list="TriggerAnimation">
                            <h3 class="typography-plan-headline">
                                <a class="typography-plan-headline" href="{{ item.product.get_absolute_url }}">{{ item.product.title }}</a>
                            </h3>
                            <!--<h3 class="headline-individual typography-plan-headline"></h3>-->
                            <!--<h3 class="headline-premier typography-plan-headline">Premier</h3>-->
                            <div class="keyline keyline-individual"></div>
                            <p class="typography-plan-copy" role="text">{{ item.product.fac }}</p>
                            <div class="typography-plan-copy">
                                <p>
                                    <span role="text">{{ item.product.category }}</span>
                                </p>
                            </div>
                            <ul>
                                <li>
                                    <figure class="logo-music">
                                        <span class="visuallyhidden"></span>
                                    </figure>
                                </li>
                                <li>
                                    <figure class="logo-tv">
                                        <span class="visuallyhidden"></span>
                                    </figure>
                                </li>
                                <li>
                                    <figure class="logo-arcade">
                                        <span class="visuallyhidden"></span>
                                    </figure>
                                </li>
                                <li>
                                    <figure class="logo-icloud">
                                        <span class="visuallyhidden"></span>
                                    </figure>
                                    <a style="position: absolute; top: 85%; left: 65%;"
                                       href="{% url 'delete_from_cart' slug=item.product.slug %}"
                                       class="typography-plan-violator">Удалить</a>
                                </li>
                            </ul>
                        </div>
                        {% else %}
                        <div class="plan-tile plan-individual gallery-item fade-in animate will-change"
                             data-component-list="TriggerAnimation">
                            <p class="typography-plan-copy" role="text">Недоступно!</p>
                            <h3 class="typography-plan-headline">
                                <a class="typography-plan-headline" href="{% url 'timetable' %}">{{ item.product.title }}</a>
                            </h3>
                            <!--<h3 class="headline-individual typography-plan-headline"></h3>-->
                            <!--<h3 class="headline-premier typography-plan-headline">Premier</h3>-->
                            <div class="keyline keyline-individual"></div>
                            <p class="typography-plan-copy" role="text">{{ item.product.fac }}</p>
                            <div class="typography-plan-copy">
                                <p>
                                    <span role="text">{{ item.product.category }}</span>
                                </p>
                            </div>
                            <ul>
                                <li>
                                    <figure class="logo-music">
                                        <span class="visuallyhidden"></span>
                                    </figure>
                                </li>
                                <li>
                                    <figure class="logo-tv">
                                        <span class="visuallyhidden"></span>
                                    </figure>
                                </li>
                                <li>
                                    <figure class="logo-arcade">
                                        <span class="visuallyhidden"></span>
                                    </figure>
                                </li>
                                <li>
                                    <figure class="logo-icloud">
                                        <span class="visuallyhidden"></span>
                                    </figure>
                                    <a style="position: absolute; top: 85%; left: 65%;"
                                       href="{% url 'delete_from_cart' slug=item.product.slug %}"
                                       class="typography-plan-violator">Удалить</a>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
</main>
<!--/main-->
{% endblock %}
