{% load static %}
<html lang="ru">
{% block header %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static '/ac/globalnav/7/ru_RU/styles/ac-globalnav.built.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/ac/localnav/6/styles/ac-localnav.built.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/ac/globalfooter/7/ru_RU/styles/ac-globalfooter.built.css' %}"/>
    <link rel="stylesheet" href="{% static '/wss/fonts' %}"/>
    <link rel="stylesheet" href="{% static '/v/home/hi/built/styles/overview.built.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static '/ru/home/styles/overview.css' %}" type="text/css/">
    <link rel="stylesheet" href="{% static '/v/home/hi/built/styles/main.built.css' %}" type="text/css">
    <script src="{% static '/v/home/hi/built/scripts/head.built.js' %}" type="text/javascript" charset="utf-8"></script>
    <title>Расписание ПсковГУ</title>
    <meta name="description" content="Расписание занятий «ПсковГУ» для групп на 2021-2022 учебный год."/>
    <link type="image/x-icon" rel="shortcut icon" href="{% static '/images/pskovgu/favicon.ico' %}">
</head>
{% endblock %}
<body class="page-overview ">
<meta name="ac-gn-store-key"/>
<aside id="ac-gn-segmentbar" class="ac-gn-segmentbar" lang="ru-RU" dir="ltr"></aside>
<input type="checkbox" id="ac-gn-menustate" class="ac-gn-menustate"/>
<nav id="ac-globalnav" class="js no-touch windows" role="navigation" aria-label="Глобальная навигация"
     lang="ru-RU" dir="ltr" >
    <div class="ac-gn-content">
        <ul class="ac-gn-header">
            <li class="ac-gn-item ac-gn-menuicon">
                <a href="#ac-gn-menustate" role="button" class="ac-gn-menuanchor ac-gn-menuanchor-open"
                   id="ac-gn-menuanchor-open">
                    <span class="ac-gn-menuanchor-label"></span>
                </a>
                <a href="#" role="button" class="ac-gn-menuanchor ac-gn-menuanchor-close"
                   id="ac-gn-menuanchor-close">
                    <span class="ac-gn-menuanchor-label"></span>
                </a>
                <label class="ac-gn-menuicon-label" for="ac-gn-menustate" aria-hidden="true">
					<span class="ac-gn-menuicon-bread ac-gn-menuicon-bread-top">
						<span class="ac-gn-menuicon-bread-crust ac-gn-menuicon-bread-crust-top"></span>
					</span>
                    <span class="ac-gn-menuicon-bread ac-gn-menuicon-bread-bottom">
						<span class="ac-gn-menuicon-bread-crust ac-gn-menuicon-bread-crust-bottom"></span>
					</span>
                </label>
            </li>
            <li class="ac-gn-item ac-gn-apple">
                <a href="{% url 'base' %}">
                    <img class="ac-gn-link" src="{% static 'images/pskovgu/logo_blue.png' %}" id="ac-gn-firstfocus">
                </a>
            </li>
        </ul>
        <!--
        <div class="ac-gn-search-placeholder-container" role="search">
            <div class="ac-gn-search ac-gn-search-small">
                <a id="ac-gn-link-search-small" class="ac-gn-link" href="/ru/search"
                   aria-label="Поиск на&nbsp;apple.com" role="button"
                   aria-haspopup="true">
                    <div class="ac-gn-search-placeholder-bar">
                        <div class="ac-gn-search-placeholder-input">
                            <div class="ac-gn-search-placeholder-input-text" aria-hidden="true">
                                <div class="ac-gn-link-search ac-gn-search-placeholder-input-icon"></div>
                                <span class="ac-gn-search-placeholder">Поиск по сайту</span>
                            </div>
                        </div>
                        <div class="ac-gn-searchview-close ac-gn-searchview-close-small ac-gn-search-placeholder-searchview-close">
                            <span class="ac-gn-searchview-close-cancel" aria-hidden="true">Отменить</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>-->
        <ul class="ac-gn-list">
            <li class="ac-gn-item ac-gn-apple">
                <a class="ac-gn-link" href="{% url 'base' %}">
                    <img src="{% static 'images/pskovgu/logo_blue.png' %}">
                </a>
            </li>
            <li class="ac-gn-item">
                <a class="ac-gn-link ac-gn-link-support" href="{% url 'list_group' %}">
                    <span class="ac-gn-link">Список групп</span>
                </a>
            </li>
            <li class="ac-gn-item">
                <a  class="ac-gn-link ac-gn-link-support" href="{% url 'news' %}">
                    <span class="ac-gn-link">Новости</span>
                </a>
            </li>
            <li class="ac-gn-item">
                <a class="ac-gn-link ac-gn-link-support" href="{% url 'support' %}">
                    <span class="ac-gn-link">Помощь</span>
                </a>
            </li>
            <!--
            <li class="ac-gn-item ac-gn-item-menu ac-gn-search" role="search">
                <a id="ac-gn-link-search" class="ac-gn-link ac-gn-link-search" href="/ru/search"
                   data-analytics-title="search" data-analytics-intrapage-link="" aria-label="Поиск по сайту"
                   role="button" aria-haspopup="true"></a>
            </li>
            -->
            {% if not request.user.is_authenticated %}
            <li class="ac-gn-item ac-gn-support">
                <a class="ac-gn-link ac-gn-link-support" href="{% url 'login' %}">
                    <span class="ac-gn-link">Авторизация</span>
                </a>
            </li>
            <li class="ac-gn-item ac-gn-support">
                <a class="ac-gn-link ac-gn-link-support" href="{% url 'registration' %}">
                    <span class="ac-gn-link">Регистрация</span>
                </a>
            </li>
            {% else %}
            <li class="ac-gn-item ac-gn-support">
                <a class="ac-gn-link ac-gn-link-support" href="{% url 'cart' %}">
                    <span class="ac-gn-link">Избранное</span>
                </a>
            </li>
            <li class="ac-gn-item ac-gn-support">
                <a class="ac-gn-link ac-gn-link-support" href="{% url 'profile' %}">
                    <span class="ac-gn-link">Профиль</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% block content %}

{% endblock %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(86284905, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true
    });
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/86284905" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
<footer id="ac-globalfooter" class="no-js ac-globalfooter-dark" lang="ru-RU" dir="ltr" role="contentinfo" aria-labelledby="ac-gf-label">
    <div class="ac-gf-content">
        <nav class="ac-gf-directory with-5-columns" aria-label="Службы каталогов" role="navigation">
            <!--googleoff: all-->
            <div class="ac-gf-directory-column">
                <input class="ac-gf-directory-column-section-state" type="checkbox"
                       id="ac-gf-directory-column-section-state-products"/>
                <div class="ac-gf-directory-column-section">
                    <label class="ac-gf-directory-column-section-label"
                           for="ac-gf-directory-column-section-state-products">
                        <h3 class="ac-gf-directory-column-section-title">Источники</h3>
                    </label>
                    <a href="#ac-gf-directory-column-section-state-products"
                       class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
                        <span class="ac-gf-directory-column-section-anchor-label">Открыть меню</span>
                    </a>
                    <a href="#"
                       class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
                        <span class="ac-gf-directory-column-section-anchor-label">Закрыть меню</span>
                    </a>
                    <ul class="ac-gf-directory-column-section-list">
                        <li class="ac-gf-directory-column-section-item">
                            <a class="ac-gf-directory-column-section-link" href="http://rasp.pskgu.ru/">Официальное
                                расписание</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ac-gf-directory-column">
                <input class="ac-gf-directory-column-section-state" type="checkbox"
                       id="ac-gf-directory-column-section-state-services"/>
                <div class="ac-gf-directory-column-section">
                    <label class="ac-gf-directory-column-section-label"
                           for="ac-gf-directory-column-section-state-services">
                        <h3 class="ac-gf-directory-column-section-title">Сервисы</h3>
                    </label>
                    <a href="#ac-gf-directory-column-section-state-services"
                       class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
                        <span class="ac-gf-directory-column-section-anchor-label">Открыть меню</span>
                    </a>
                    <a href="#"
                       class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
                        <span class="ac-gf-directory-column-section-anchor-label">Закрыть меню</span>
                    </a>
                    <ul class="ac-gf-directory-column-section-list">
                        <li class="ac-gf-directory-column-section-item">
                            <a class="ac-gf-directory-column-section-link" href="{% url 'list_group' %}">Список групп</a>
                        </li>
                        <li class="ac-gf-directory-column-section-item">
                            <a class="ac-gf-directory-column-section-link" href="{% url 'news' %}">Новости</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ac-gf-directory-column">
                <input class="ac-gf-directory-column-section-state" type="checkbox"
                       id="ac-gf-directory-column-section-state-accounts"/>
                <div class="ac-gf-directory-column-section">
                    <label class="ac-gf-directory-column-section-label"
                           for="ac-gf-directory-column-section-state-accounts">
                        <h3 class="ac-gf-directory-column-section-title">Учётная запись</h3>
                    </label>
                    <a href="#ac-gf-directory-column-section-state-accounts"
                       class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
                        <span class="ac-gf-directory-column-section-anchor-label">Открыть меню</span>
                    </a>
                    <a href="#"
                       class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
                        <span class="ac-gf-directory-column-section-anchor-label">Закрыть меню</span>
                    </a>
                    <ul class="ac-gf-directory-column-section-list">
                        {% if request.user.is_authenticated %}
                        <li class="ac-gf-directory-column-section-item">
                            <a class="ac-gf-directory-column-section-link" href="{% url 'profile' %}">Профиль</a>
                        </li>
                        <li class="ac-gf-directory-column-section-item">
                            <a class="ac-gf-directory-column-section-link" href="{% url 'cart' %}">Избранное</a>
                        </li>
                        {% else %}
                        <li class="ac-gf-directory-column-section-item">
                            <a class="ac-gf-directory-column-section-link" href="{% url 'registration' %}">Профиль</a>
                        </li>
                        <li class="ac-gf-directory-column-section-item">
                            <a class="ac-gf-directory-column-section-link" href="{% url 'registration' %}">Избранное</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="ac-gf-directory-column">
                <input class="ac-gf-directory-column-section-state" type="checkbox"
                       id="ac-gf-directory-column-section-state-responsibility"/>
                <div class="ac-gf-directory-column-section">
                    <label class="ac-gf-directory-column-section-label"
                           for="ac-gf-directory-column-section-state-responsibility">
                        <h3 class="ac-gf-directory-column-section-title">Социальные сети ПсковГУ</h3>
                    </label>
                    <a href="#ac-gf-directory-column-section-state-responsibility"
                       class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
                        <span class="ac-gf-directory-column-section-anchor-label">Открыть меню</span>
                    </a>
                    <a href="#"
                       class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
                        <span class="ac-gf-directory-column-section-anchor-label">Закрыть меню</span>
                    </a>
                    <ul class="ac-gf-directory-column-section-list">
                        <li class="ac-gf-directory-column-section-item">
                            <a class="ac-gf-directory-column-section-link" href="https://vk.com/pskgu">VK</a>
                        </li>
                        <li class="ac-gf-directory-column-section-item">
                            <a class="ac-gf-directory-column-section-link"
                               href="https://www.youtube.com/channel/UCVH56ItSo4wLodfiGnAyV-A">YouTube</a>
                        </li>
                        <li class="ac-gf-directory-column-section-item">
                            <a class="ac-gf-directory-column-section-link" href="https://pskgu.ru/rss/">PskovGU RSS</a>
                        </li>
                    </ul>
                </div>
                <input class="ac-gf-directory-column-section-state" type="checkbox"
                       id="ac-gf-directory-column-section-state-about"/>
            </div>
            <!--googleon: all-->
        </nav>
        <section class="ac-gf-footer">
            <div class="ac-gf-footer-shop" x-ms-format-detection="none">
            </div>
            <div class="ac-gf-footer-locale">
                <div class="ac-gf-footer-locale-link"
                     aria-label="Россия. Выберите страну или регион">Россия
                </div>
            </div>
            <div class="ac-gf-footer-legal">
                <div class="ac-gf-footer-legal-copyright">TheKost_ 2023 г. | v2.0.0 SEC
                </div>
            </div>
        </section>

        <script type="text/javascript"
                src="{% static '/ac/globalfooter/7/ru_RU/scripts/ac-globalfooter.built.js' %}"></script>


        <script type="text/javascript"
                src="{% static '/ac/localeswitcher/4/ru_RU/scripts/localeswitcher.built.js' %}"></script>

    </div>
</footer>
<script src="{% static '/v/home/hi/built/scripts/main.built.js' %}" type="text/javascript" charset="utf-8"></script>
</body>
</html>