{% extends 'ui_interface/index.htm' %}
{% load static %}
{% block header %}
    <head>
        <meta name="robots" content="noindex, nofollow" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- Metadata -->

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css"
              href="{% static '/ac/globalnav/7/ru_RU/styles/ac-globalnav.built.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static '/ac/localnav/6/styles/ac-localnav.built.css' %}"/>
        <link rel="stylesheet" type="text/css"
              href="{% static '/ac/globalfooter/7/ru_RU/styles/ac-globalfooter.built.css' %}"/>
        <link rel="stylesheet" href="{% static '/wss/fonts?families=SF+Pro,v3|SF+Pro+Icons,v3' %}"/>
        <link rel="stylesheet" href="{% static '/v/home/hi/built/styles/overview.built.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static '/ru/home/styles/overview.css' %}" type="text/css/">
        <link rel="stylesheet" href="{% static '/ac/css/account.css' %}" media="screen, print">
        <script src="{% static '/v/home/hi/built/scripts/head.built.js' %}" type="text/javascript"
                charset="utf-8"></script>
        {% if not request.user.is_authenticated %}
        <title>thekost</title>
        <meta name="description" content="thekost"/>
        {% else %}
        <title>Профиль пользователя</title>
        <meta name="description" content="Профиль пользователя на сайте с расписанием занятий «ПсковГУ» для групп на 2021-2022 учебный год."/>
        <link type="image/x-icon" rel="shortcut icon" href="{% static '/images/pskovgu/favicon.ico' %}">
        {% endif %}
    </head>
{% endblock %}
{% block content %}
{% if not request.user.is_authenticated %}
<meta http-equiv="refresh" content="0; url=https://stdu-pskovgu.ru/" />
{% else %}
<div class="ac-gn-blur"></div>
<div id="ac-gn-curtain" class="ac-gn-curtain"></div>
<div id="ac-gn-placeholder" class="ac-nav-placeholder" style="margin-top: 10px"></div>
<script type="text/javascript" src="{% static '/ac/globalnav/7/ru_RU/scripts/ac-globalnav.built.js' %}"></script>
<main id="main" class="main" role="main" data-page-type="overview">
    <section class="homepage-section collection-module" data-module-template="heroes" data-analytics-region="hero">
        <div class="rs-account as-l-fullwidth">
        <div class="rs-header">
            <nav aria-label="Учётная запись" role="navigation" id="localnav" class="localnav" data-sticky="true">
                <div class="localnav-wrapper rs-account-local-nav">
                    <br>
                    <div class="localnav-background"></div>
                    <div class="localnav-content rs-account-local-nav-content">
                        <h1 class="rs-account-local-nav-title localnav-title"></h1>
                        <a class="rs-account-sign-out" href="{% url 'logout' %}" id="rs-account-signout-link">Выйти</a>
                    </div>
                </div>
            </nav>
            <div class="rs-header-welcome as-l-container">
                <div class="row"><p class="rs-header-welcome-text">Здравствуйте, {{ request.user.username }}!</p></div>
            </div>
        </div>
        <div class="rs-account-main">
            <div class="rs-account-section rs-account-section-bg-primary rs-account-section-with-settings">
                <div class="as-l-container rs-settings">
                    <div class="row rs-settings-header">
                        <div class="column large-12"><h2 class="rs-account-section-header">Настройки учётной записи</h2>
                        </div>
                    </div>
                    <div class="rs-devices-header-wrap as-l-container" style="margin-bottom: 50px">
                        {% if user.is_superuser %}
                            <span class="rs-devices-description">Учётная запись: {{ user.email }}</span>
                            <br>
                            <a class="rs-device-tile-button as-buttonlink" href="../admin/">Перейти в панель администратора</a>
                        {% else %}
                            <span class="rs-devices-description">Учётная запись: {{ user.email }}</span>
                        {% endif %}
                    </div>
                    <div class="row rs-settings-container">
                        <div class="column large-3 small-12">
                            <h3 class="rs-settings-subheader">Профиль</h3>
                        </div>
                        <div class="column large-3 small-12">
                            <div class="rs-settings-section">
                                <div class="rs-settings-section-header"><h4>Избранное</h4></div>
                                <div class="rs-settings-content-container">
                                    <div class="rf-form-layout-root">
                                        <div class="rf-form-layout rf-form-layout-viewmode">
                                            <div class="rf-form-layout-section">
                                                <div class="rf-form-layout-row">
                                                    {% if not cart.products.count %}
                                                     <span class="rf-form-layout-field-viewmode"
                                                          data-autom="form-field-emailAddress"> - </span>
                                                    {% else %}
                                                    {% for item in cart.products.all %}
                                                        <a href="{{ item.product.get_absolute_url }}" class="rf-form-layout-field-viewmode" data-autom="form-field-emailAddress">{{ item.product.title }}</a>
                                                    {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="rf-form-layout-row"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="{% url 'cart' %}" type="button" class="as-buttonlink">
                                    <span aria-hidden="true">Изменить</span><span class="visuallyhidden">Избранное</span>
                                </a>-->

                            </div>
                        </div>
                    </div>
                    <div class="row rs-settings-container" style="margin-bottom: 70px">
                        <div class="column large-3 small-12">
                            <h3 class="rs-settings-subheader">STDU-ID</h3>
                        </div>
                        <div class="column large-9 small-12">
                            <div class="rs-settings-section">
                                <div class="rs-settings-appleid">
                                    <div>{{ request.user.email }}</div>
                                    <!--<a href="" class="as-buttonlink" target="_blank" rel="noreferrer">Изменить
                                        <span class="visuallyhidden">(откроется в&nbsp;новом окне)</span>
                                    </a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!--<section class="section-hero theme-dark-lite" data-anim-lazy-image>
        <div class="section-content">
            <div class="copy-container">
                <h2 class="headline">Сайт в разработке!</h2>
                <h3 class="subhead" role="presentation">В настоящее время сайт находиться в стадии разработки.
                    Зайдите позже или дождитесь открытого бета-тестирования!</h3>
                <div class="cta-links">
                    <a class="button control" href="{% url 'registration' %}" target="_self"
                       aria-label="Смотрите презентацию">Регистрация</a>
                </div>
            </div>
        </div>
    </section>-->
</main>
{% endif %}
{% endblock %}
