{% extends 'ui_interface/index.htm' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<meta name="robots" content="noindex, nofollow"/>
<div class="ac-gn-blur"></div>
<div id="ac-gn-curtain" class="ac-gn-curtain"></div>
<div id="ac-gn-placeholder" class="ac-nav-placeholder"></div>
<script type="text/javascript" src="{% static '/ac/globalnav/7/ru_RU/scripts/ac-globalnav.built.js' %}"></script>
<style>
    @media screen and (max-width: 1160px) {
        .copy-container {
            overflow-y: scroll;
        }
    }

    @media screen and (min-width: 1750px) {
        .copy-container {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
        }
    }

    @media screen and (max-width: 600px) {
        .updatetext {
            font-size: 12px;
            text-align: center;
            margin-top: 8px;
        }
    }

    @media screen and (min-width: 1200px) {
        .updatetext {
            font-size: 12px;
            text-align: right;
            margin-top: 10px;
        }
    }
</style>
<main class="main" role="main" data-page-type="overview">
    {% if not request.user.is_authenticated %}
    <section class="homepage-section collection-module" data-module-template="ribbon">
        <div data-unit-id="shop-online" data-analytics-activitymap-region-id="ribbon-shop-online">
            <div class="module-content">
                <div class="ribbon-shop-online">
                    <div class="section-content section-content-shop-online">
                        <span class="shop-ribbon-copy">В настоящее время сайт находится в разработке.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="homepage-section collection-module" data-module-template="heroes"
             data-analytics-region="hero">
        <div data-unit-id="1">
            <div class="module-content">
                <div class="unit-copy-wrapper">
                    <!--<h3 class="subhead" role="presentation">Oh. So. Pro.</h3>-->
                    <img style="width: 320px; height: auto;"
                         src="{% static 'images/pskovgu/logo_blue_pic-removebg-preview.png' %}"
                         alt="Логотип ПсковГУ">
                    <h3 style="margin-bottom: 10px" class="headline">Расписание ПсковГУ</h3>
                    <a class="button" href="{% url 'registration' %}" aria-label="Регистрация">Регистрация</a>
                </div>
            </div>
        </div>
    </section>
    {% else %}
    <link rel="stylesheet" href="{% static 'list_group/main.built.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'list_group/overview.built.css' %}" type="text/css">
    <link href="{% static 'timetable/css/css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'timetable/css/style.css' %}" rel="stylesheet" type="text/css">
    {% if not cart.products.count %}
    <style>
        @media screen and (max-width: 600px) {
            .copy-container {
                height: 60%;
                margin-top: 150px;
                margin-bottom: 100px
            }
        }

        @media screen and (min-width: 1200px) {
            .copy-container {
                height: 40%;
                margin-top: 150px;
                margin-bottom: 100px
            }
        }
    </style>
    <div class="copy-container">
        <h2 class="typography-section-headline plans-headline large-10 medium-12 small-12 center">
            Избранное</h2>
        <p class="typography-eyebrow large-7 medium-9 small-12 center">Избранное - это ваш список
            отслеживаемых групп. Пользоваться
            очень легко, добавляйте новые или редактируйте уже имеющиеся группы.</p>
        <br>
        <a href="{% url 'list_group' %}" class="button">
            <span>Список групп</span>
        </a>
    </div>
    {% else %}
    {% if cart.products.count < 2 %}
    <section class="theme-light" data-anim-scroll-group="Section - Plans"
             data-component-list="LocalNavThemeSwitcher" style="margin-top: 30px; margin-bottom: 30px">
        <div class="table-container" style="border-radius: 15px; margin-left: 15px; margin-right: 15px;">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            {% for item in cart.products.all %}
            {% if item.product.active != 0 %}
            <div>
                <p style="margin-bottom: 5px; text-align: center" href=""
                   class="typography-plan-copy">
                    Расписание для
                    <a href="{{ item.product.get_absolute_url }}">{{ item.product.title }}</a></p>
            </div>
            {% include item.product.url_all_tables %}
            {% endif %}
            {% endfor %}
        </div>
    </section>
    {% else %}
    <section class="theme-light" data-anim-scroll-group="Section - Plans"
             data-component-list="LocalNavThemeSwitcher" style="margin-top: 30px; margin-bottom: 30px">
        <div class="table-container" style="border-radius: 15px; margin-left: 15px; margin-right: 15px;">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            {% for item in cart.products.all %}
            {% if item.product.active != 0 %}
            <div>
                <p style="margin-bottom: 5px; text-align: center" href=""
                   class="typography-plan-copy">
                    Расписание для
                    <a href="{{ item.product.get_absolute_url }}">{{ item.product.title }}</a></p>
            </div>
            {% include item.product.url_all_tables %}
            {% endif %}
            {% endfor %}
        </div>
    </section>
    {% endif %}
    {% endif %}
    {% endif %}
</main>
<script type="text/javascript">
    $(document).ready(function () {
        $('html, body').animate({
            scrollTop: $('#scroll').offset().top
        }, 'slow');
    });
</script>
{% endblock %}